.weather-header {
	height: 220px;
	background-color: gray;
	border-radius: 5px;
	padding: 10px;
}

#weather-text {
	text-align: right;
	color: black;
	font-size: medium;
}

#weather {
	width: 200%;	
}

#imagewrap {
	height: 250px;
}

#lead {
	float: left;
}

.suggestion {
	clear: both;
	vertical-align: middle;
}

.suggestion p {
	text-align: left;
	margin-top: 50px;
	margin-left: 50%;
	font-size: 30px;
}

.suggestion img {
	width: 35%;
	float: left;
	margin-bottom: 50px;
}

.suggestion li {
	float: left;
	list-style: none;
	width: 100%;
}

h1 span {
	margin-left: 2%;
	color: black;
}

h1 {
	color: black;
}

#error {
	color: red;
	font-style: italic;	
}